.choice-container{
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    font-size: 1rem;
    border: .1rem solid var(--light-first-color);
    background-color: #fff;
}

.choice-container:hover{
    cursor: pointer;
    background-color:#af6377 ;
    color: #fff;
    box-shadow: 0 .4rem 1.4rem 0 var(--light-first-color);
    transform: translateY(-.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: var(--first-color);
    color: #fff;
}

.choice-text{
    padding: 1.5rem;
    width: 100%;
}

.correct{
    background-color: var(--correct-color);   
}

.incorrect{
    background-color: var(--incorrect-color);
}

.hud{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.hud-prefix{
    font-size: 1rem;
    color: var(--game-prefix-color);
}

.hud-main-text{
    font-size: 2rem;
    color: var(--game-hud-text);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}