.inicio{
    margin-bottom: var(--mb-2);
}

.inicio-title{
    margin-bottom: var(--mb-2);
    text-transform: uppercase;
    font-weight: var(--font-semi-bold);
    letter-spacing: 1px;
}

.inicio-card{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;

}

.inicio-img{
    width: 80%;
}

.inicio__picture{
    width: 100%;
}

.inicio-definition{
    line-height: 25px;
}

@media screen and (min-width:768px){
    .inicio{
        margin-top: var(--mb-2);
        margin-bottom: var(--mb-2);
    }
    .inicio-card{
        display: grid;
        grid-template-columns:repeat(2,2fr);
        gap:5rem;
    }
    .inicio-img{
        width: 100%;
    }
}