.main-container{
    display: flex;
    justify-content: center;
    background-color: #f1becb;
    margin-top: var(--header-height);
}

.howto_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #a33351;
    border-radius: 8px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-2);
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box_title{
    padding-top: var(--mb-1);
    text-align: center;
}

.guide_box{
    display: flex;
    flex-direction: column;
}

.step-numb{
    width: 40px;
    height: 40px;
    background-color: #673393;
    border-radius: 50%;
    color: #fbb621;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.step{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid  #a51f43;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    white-space: wrap;
}

.step-img{
    max-width: 200px;
}

.ref{
    font-size: 10px;
    text-align: center;
    margin-bottom: var(--mb-1);
    padding: 1rem;
}

.metodo-btn{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    padding-bottom: 1.2rem;
}

.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a84f67;
    padding: .7rem;
    border-radius: 15px;
    background-color: #a84f67;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    background-color: #a33351;
}

@media screen and (min-width:768px){
    .step{
        flex-direction: row;
        column-gap: .5rem;
    }
}