@import 'reset.css';

*{
    font-family: var(--quiz-font);
    font-weight: 500;
    box-sizing: border-box;
}

:root{
    --font-size: 62.5%;
    --neutral: hsl(338, 32%, 76%);
    --wrong:rgb(199, 65, 65);
    --correct:hsla(129, 42%, 55%, 1);
}

body{
    --hue: var(--hue-neutral);
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral);
    color: var(--text-color);
    font-family: var(--quiz-font);
    font-weight: 500;
    font-size: var(--font-size);
    color: var(--text-color);
    transition: background .8s;
}

h1, h2, h3, h4{
    margin-bottom: 1rem;
}


.quiz_container{
    width: 100vw;
    max-width: 80rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.quiz_container > * {
    width: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.quiz_title{
    text-transform: uppercase;
}

/* buttons */

.quiz-btn{
    font-size: 1rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: .1rem solid #a33351;
    border-radius: 10px;
    margin-bottom: var(--mb-1);
    text-decoration: none;
    color: #a33351;
    background-color: #fff;
    cursor: pointer;
    transition: background .5s;
}

.quiz-btn:hover{
    background-color:#af6377 ;
    color: #fff;
    box-shadow: 0 .4rem 1.4rem 0 rgba(163, 51, 81, .5);
    transform: translateY(-.1rem);
    transition: transform 150ms;
}

.quiz-btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-title{
    margin-top: 5rem;
}

#final-score{
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 1px #a2435c;
}

.end-btns{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.save-btn{
    font-weight: 600;
}

.final-btn{
    font-size: 1rem;
    padding: 1rem 0;
    width: 10rem;
    text-align: center;
    border: .1rem solid #a33351;
    border-radius: 10px;
    margin-bottom: var(--mb-1);
    text-decoration: none;
    color: #a33351;
    background-color: #fff;
    cursor: pointer;
    transition: background .5s;
}

.final-btn:hover{
    background-color:#af6377 ;
    color: #fff;
    box-shadow: 0 .4rem 1rem 0 rgba(163, 51, 81, .5);
}

@media screen and (min-width:768px){
    .end-btns{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
}

.rate_container{
    width: 20rem;
    display: grid;
    place-items: center;
    text-align: center;
    background-color: rgba(163, 51, 81, .2);
    padding: 20px 30px;
    border: .1rem solid rgba(163, 51, 81, .6);
    border-radius: 7px;
}

/* .post{
    display: none;
}

.post-text{
    font-size: 25px;
    color: #872942;
    font-weight: 500;
} */

.star-widget input{
    display: none;
}

.star-widget label{
    font-size: 30px;
    color:rgba(163, 51, 81, .3);
    padding: 5px;
    transition: all .2s ease;
    float: right;
    cursor: pointer;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label
{
    color: #FCD639;
}

input:checked ~ label{
    color: #FCD639;
}

input#rate-5:checked ~ label{
    color: #d1cf30;
    text-shadow: 0 0 20px #ee8114;
}

/* .label-1:checked ~ form header:before{
    content: "Eu detestei 🤢 ";
    width: 100%;
}

input#rate-2:checked ~ form header:before{
    content: "Eu não gostei 🙁";
    width: 100%;
}

input#rate-3:checked ~ form header:before{
    content: "Bom 🙂";
    width: 100%;
}

input#rate-4:checked ~ form header:before{
    content: "Gostei muito! 😄";
    width: 100%;
}

input#rate-5:checked ~ form header:before{
    content: "Adorei 😍";
    width: 100%;
} */

.textarea-form{
    width: 20rem;
    display: grid;
    place-items: center;
    text-align: center;
    margin-top: 1rem;
    gap: 1rem;
    font-size: .7rem;
}

.textarea-form header{
    width: 100%;
    font-size: 1rem;
    color: #872942;
    font-weight: 600;
    text-align: center;
    transition: all .2s ease;
}

.textarea-form textarea{
    height: 100px;
    width: 20rem;
    outline: none;
    border: 1px solid rgb(199, 65, 65);
    border-radius: 7px;
    padding: 1rem;
    color: #3f1420;
    resize: none;
    font-size: 17px;
}

.textarea-form textarea::placeholder{
    color: rgba(38, 12, 19, .7);
}

.textarea-input{
    width: 100%;
    padding: .7rem;
    border: 1px solid rgb(199, 65, 65);
    border-radius: 7px;
    font-size: 17px;
    color: #631e30;
    font-weight: 600;
}

.submit-content{
    display: flex;
    row-gap: 1rem;
    text-align: center;
}

.thx-box{
    padding: 4rem;
    border: 2px solid #a2435c;
    border-radius: 15px;
    background-color: rgba(163, 51, 81, .1);
}