@import 'reset.css';

*{
    font-family: var(--quiz-font);
    font-weight: 500;
    box-sizing: border-box;
}

:root{
    --font-size: 62.5%;
    --neutral: hsl(338, 32%, 76%);
    --wrong:rgb(199, 65, 65);
    --correct:hsla(129, 42%, 55%, 1);
}

body{
    --hue: var(--hue-neutral);
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral);
    color: var(--text-color);
    font-family: var(--quiz-font);
    font-weight: 500;
    font-size: var(--font-size);
    color: var(--text-color);
    transition: background .8s;
}

h1, h2, h3, h4{
    margin-bottom: 1rem;
}


.quiz_container{
    width: 100vw;
    max-width: 80rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.quiz_container > * {
    width: 100%;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.quiz_title{
    text-transform: uppercase;
}

/* buttons */

.quiz-btn{
    font-size: 1rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: .1rem solid #a33351;
    border-radius: 10px;
    margin-bottom: var(--mb-1);
    text-decoration: none;
    color: #a33351;
    background-color: #fff;
    cursor: pointer;
    transition: background .5s;
}

.quiz-btn:hover{
    background-color:#af6377 ;
    color: #fff;
    box-shadow: 0 .4rem 1.4rem 0 rgba(163, 51, 81, .5);
    transform: translateY(-.1rem);
    transition: transform 150ms;
}

.quiz-btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

